#fichaPeliculamain{
    padding-top: 150px;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: 35px;
}

#datosContainerFicha{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 35%;
}

#datosContainerFicha span{
    margin: 15px;
    text-align: start;
}

#datosContainerFicha input{
    width: 100%;
}

#puntuacionContainerFicha{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imagenesDatosFicha{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mostrarUsuarioFichaPelicula{
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    #datosContainerFicha input{
        width: 90%;
    }
    #puntuacionContainerFicha input{
        width: 90%;
    }
    #datosContainerFicha{
        width: 90%;
    }
    #imagenPortada{
        width: 90%;
    }
}