body{
    margin: 0;
}
#cabecera{
    position: fixed;
    background-color: #001F3F;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
    top:0;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.elementoHeader{
    margin:15px;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.verde{
    background: #2ECC71; 
}

.amarillo{
    background: #FFD700;
}

.verde:active, .amarillo:active{
    opacity: 0.2;
}

.verde:hover, .amarillo:hover{
    transform: scale(1.1);
}


#logo{
    padding: 20px;
    cursor: pointer;
}

#usuarioheader{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
    #cabecera{
        position: relative;
    }
}